/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  color: $link-color;
  text-decoration: none;
  @include transition-color;
  &:hover,
  &:active,
  &:focus {
    color: $link-color-hover;
  }
}
