/* ==========================================================================
   #NOTES
   ========================================================================== */

.notes {
  > div {
    margin-bottom: $spacing-unit;
    margin-bottom: ($spacing-unit / $base-font-size) * 1rem;
    > p {
      margin: 0;
    }
  }
}
