/* ==========================================================================
   #SHARE
   ========================================================================== */

.share {
  margin-top: 1em;
  line-height: 1.5;
}

  .share__title {
    display: inline-block;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    color: $gray-color;
  }
