/* ==========================================================================
   #RELATED
   ========================================================================== */

/*
   #RELATED-ARTICLES (article-numero.html)
   ========================================================================== */

.related-articles {
  margin-bottom: 0;
  @include media-query(s) {
    text-align: center;
  }
}

/*
   #RELATED-ABOUT (footer)
   ========================================================================== */

.related-about {
  margin-bottom: $spacing-unit--large;
  @include media-query(l) {
    margin-bottom: $spacing-unit;
  }
}

@include media-query(l) {
  .related-about,
  .related-issue {
    width: 50%;
    float: left;
  }

  .related-about {
    padding-right: $spacing-unit--small;
  }

  .related-issue {
    padding-left: $spacing-unit--small;
  }
}

.related__title {
  color: $black-color;
  text-align: center;
  @include media-query(l) {
    text-align: left;
  }
}

.related__desc-block {
  > p {
    margin-bottom: 0;
  }
}

.related__desc {
  margin-bottom: 0;
}

.related__desc--about-links {
  margin: $spacing-unit 0;
  @extend .clearfix;
  > div {
    // padding-left: $spacing-unit--small;
    @include media-query(m-and-l) {
      float: left;
      width: 50%;
    }
  }
}

.related__link {
  display: block;
}

.related__desc--aff {
  font-style: italic;
  font-weight: 600;
  color: $black-color;
}

.related__logo-aff {
  display: block;
  margin: $spacing-unit--tiny $spacing-unit--tiny $spacing-unit--tiny 0;
  width: 100%;
  height: round(150px * 0.35);
  background: url("../img/institut-acte.svg") no-repeat;
  background-size: contain;
  text-indent: -9999px;
}
