/* ==========================================================================
   #TOC
   ========================================================================== */

.toc {
  padding: $spacing-unit--small;
  margin-bottom: $spacing-unit;
  @include media-query(l) {
    padding: 0;
  }
}

  .toc-list {
    @include media-query(l) {
      padding: $spacing-unit 0 0;
    }
  }

  .toc-list__item {
    margin-top: $spacing-unit--tiny;
    margin-bottom: $spacing-unit--tiny;
    text-transform: uppercase;
    @include transition(color);

    @include media-query(l) {
      color: $gray-color;
    }

    &.is-active {

      > a {
        border-bottom-color: $black-color;
        color: $black-color;
      }
    }
  }

   .toc__link {
     border-bottom: 1px solid $white-color;
     text-decoration: none;
     @include transition(border-color);

     @include media-query(l) {
       color: $gray-color;
     }
   }


   /**
    * Composition A propos:
    * =====================
    * la Table est fabriquée par le modèle sommaire.html, d'où une liste avec
    * des classes .spip.
    */

     .toc--apropos ul.spip {
       @extend .list-bare;
       @include inuit-font-size(14px,1.4);
       @include media-query(l) {
         padding: 0;
       }
     }

     .toc--apropos ul.spip ul {
       padding-top: 0;
       padding-left: $spacing-unit--small;
       list-style: square inside;
     }

     .toc--apropos li {
       @extend .toc-list__item;
     }

     .toc--apropos a {
       @extend .toc__link;
     }
