/* ==========================================================================
   #ELEMENT
   ========================================================================== */

/**
 *
 * La notion d'élément s'entend ici selon ceux utilisés par SPIP. Élément article,
 * rubrique, mot-clé...
 *
 * Il s'agit de regrouper à partir d'une seule dénomination des caractéristiques
 * communes pour chaque élément.
 *
 */

.element {}

.element__section {
  margin-bottom: $spacing-unit;
}

.element__section--large {
  margin-bottom: $spacing-unit--large;
}

/*
   element__header
   ========================================================================== */

.element__header {}

  .element__title {
    margin-bottom: 0;
  }

  .element__title--section {
    text-transform: uppercase;
  }

  .element__subtitle {
    margin-bottom: 0;
    font-style: italic;
    color: $black-color;
  }

  .element__subtitle--resume {
    margin-top: $spacing-unit--tiny;
    color: inherit;
  }

.element__meta {
  position: relative;
}
  .element__authors {
    font-style: italic;
  }

  .element__authors--article {
    margin-top: 0;
    @include inuit-font-size(18px);
    @include media-query(l) {
      margin-bottom: 0;
    }
  }

  .element__date {
    color: $gray-color;
  }

  .element__date--article {
    margin-top: 0;
    @include media-query(l) {
      margin-bottom: 0;
    }
  }

/*
   element__content
   ========================================================================== */

// .element__content {}

.element__content--main {
  @include media-query(m) {
    max-width: 500px;
  }
}

.element__content--sub {
  @extend .element__content--main;
}

.element__next {
  text-align: right;
  font-weight: bold;
  &:before,
  &:after {
    margin-bottom: $spacing-unit--tiny;
    display: block;
    content: '';
    width: 20%;
    height: 0;
    background-color: currentColor;
  }
}
