/* ==========================================================================
   #PAGE-CONTENT
   ========================================================================== */

.page-content {
  position: relative; // nav-prev-next
  padding: $spacing-unit 0 0 $spacing-unit--small;
  border-right: $spacing-unit--small solid $black-color;

  @include media-query(m-and-l) {
    padding-left: $spacing-unit;
    border-right-width: $spacing-unit;
  }
}
