/* ==========================================================================
   #ARTICLE
   ========================================================================== */

.article {
  @include media-query(s) {
    padding-left: 16px;
    padding-right: $spacing-unit--tiny;
  }
}

    .article__texte--chapo {
      margin-bottom: $spacing-unit--large;
      @include inuit-font-size(18px);
      color: darken($text-color,15%);
    }
