/* ==========================================================================
   #SPIP-ADMIN
   ========================================================================== */

   body {
     .spip-admin-bloc,
     .spip-admin-float {
       z-index: 99999; top: 10%; left: auto; right: -1%;
       transition: right 0.35s ease;
       &:hover {
         right: 0;
       }
     }
   }

   .spip-admin-float {
     .spip-admin-boutons {
       display: block;
       margin-bottom: 5px;
       font: 10px/1 "PT Mono", "Menlo", monospace;
       text-align: center;
       border-radius: 5px 0 0 5px;
     }
   }
