/* ==========================================================================
   #PAGE
   ========================================================================== */

.page {
  font-family: "URWClassico", "Helevetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  color: $text-color;
}
