/* ==========================================================================
   #PAGINATION
   ========================================================================== */

.pagination {}

  .pagination-list {
    list-style: none;
    margin: $spacing-unit--small 0;
    padding: 0;
    text-align: center;
  }

    .pagination-list__item {
      display: inline-block;
      > strong,
      > a {
        display: block;
        padding: $spacing-unit--tiny;
        border: 1px solid $lightest-gray-color;
        text-decoration: none;
      }
    }

    .pagination-list__item--disabled {
      color: $lightest-gray-color;
      > strong {
        border-color: $lightest-gray-color;
      }
    }
