/* ==========================================================================
   #PAGE-CONTENT
   ========================================================================== */

.page-content {
  padding: $spacing-unit 0 $spacing-unit $spacing-unit--small;
  border-right: $spacing-unit--small solid $black-color;

  @include media-query(m-and-l) {
    padding-left: $spacing-unit;
    border-right-width: $spacing-unit;
  }
}
