/* ==========================================================================
   #PAGE-HEAD
   ========================================================================== */

.page-head {
  padding: $spacing-unit 0;
  border-left: $spacing-unit--small solid $black-color;
  @include media-query(lap-and-up) {
    border-left-width: $spacing-unit;
    padding-right: $spacing-unit;
  }
}

.page-head__layout {
  @include media-query(lap-and-up) {
    margin-left: 8.33333%;
  }
}
