/* ==========================================================================
   #LISTS
   ========================================================================== */

/*
   #TOC-LIST
   ========================================================================== */

.toc {
  position: fixed;
  top: 0;
  background: #fff;
}

.toc-list {
}

  .toc-list__item {
    margin-bottom: $spacing-unit--tiny;
    text-transform: uppercase;
    &.is-active {
      border-bottom: 1px solid #000;
      & .toc__link {
        color: #000;
      }
    }
  }

  .toc__link {
    text-decoration: none;
    color: $gray-color;
  }




/*
   #SPIP LIST
   ========================================================================== */

ul.spip {
  list-style: square inside;
}

ul.spip,
ol.spip {
  margin: 0;
  padding: 0;
}

ul.spip ul,
ol.spip ol {
  padding-left: 0.75em;
}
