/* ==========================================================================
   #DOCUMENTS
   ========================================================================== */

.document {}

  .document__link {
    display: block;
    border-bottom: 1px dotted #ddd;
    padding: $spacing-unit--small 0;
    //padding: (($spacing-unit--small / $base-font-size) * 1rem) 0;
    text-decoration: none;
    @extend %clearfix;
  }

  .document__link--first {
    padding-top: 0;
  }

  .document__info {
    margin-left: 100px;
  }

    .document__descriptif {
      display: block;
    }
