/* ==========================================================================
   #ICONS
   ========================================================================== */

.icon-svg-source {
  display: none;
}

.icon-oblique {
  width: 9px;
  height: 19px;
}

  .icon-oblique__stroke {
    stroke: currentColor;
  }


.icon-next {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  vertical-align: middle;
  @include transition(background);
}

  .icon-next__fill {
    @include transition(fill);
  }

.icon-plus {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  vertical-align: middle;
}
