/* ==========================================================================
   #SITE-NAV
   ========================================================================== */

.site-nav {
  @include media-query(palm) {
    padding-left: 16px;
  }
}

  .site-nav__home {
    width: 100%;
  }
    .site-nav__logo {
      max-width: 477px;
      margin-bottom: $spacing-unit--small;
    }

  /**
   * les éléments site-nav__list se comportent comme des .layout__item,
   * (élement parent est un div.layout)
   * mais positionnés avec float, au lieu de inline-block compte tenu
   * des retours de chariots produits par spip qui sont impossibles
   * à supprimer. De plus, la largeur est réglée ici pour ne pas surcharger
   * les CSS en règles .u-X/11 qui ne seront que très peu utilisées
   * dans l'ensemble du site.
   **/
  .site-nav__list {
    margin:  0;
    list-style: none;
    width: 33.33333%; // u-1/3
    float: left;
    padding-left: $spacing-unit;
    @include inuit-font-size(18px);

    // @media max-width: 350px
    // @media screen and (max-width: 350px) {
    //   width: 50%; // u-1/2
    // }
    @include media-query(palm) {
      width: 50%; // u-1/2
    }
    @include media-query(desk) {
      width: 18.18182%; // u-2/11
    }
  }

    .site-nav__item {}

      .site-nav__link {
        position: relative;
        text-decoration: none;

        > svg {
          position: absolute;
          top: -2px;
          left: -12px;
        }

        > span {
          color: $black-color;
          @include transition(color);
        }

        .active & {
          font-weight: bold;
        }
      }
