/* ==========================================================================
   #HEADINGS
   ========================================================================== */

.hN {
  padding-top: $spacing-unit;
  margin-top: 0;
  border-bottom: 1px solid $black-color;
  text-transform: uppercase;
}


/*
   SPIP
   ========================================================================== */
h2.spip,
h3.spip,
h4.spip,
h5.spip,
h6.spip {
  margin: $spacing-unit--large 0  $spacing-unit;
  color: $black-color;
}
