/* ==========================================================================
   #PAGE-FOOT
   ========================================================================== */

.page-foot {
  @extend .page-head;
}

  .page-sub-footer {
    @extend .clearfix;
    @extend .site-nav;
    @include media-query(palm) {
      padding-right: 12px;
    }
  }

  .page-footer__item {
    text-align: center;
    margin: 0;
    @include inuit-font-size(13px);
  }

  .page-footer__logo {
    width: 70%;
    @include media-query(lap-and-up) {
      width: 30%;
    }
  }

  .page-footer__link {
    display: inline-block;
    margin: 0 $spacing-unit--tiny;
  }
