/* ==========================================================================
   #HEADINGS
   ========================================================================== */

.c-heading--section {
  border-bottom: 1px solid $black-color;
  text-transform: uppercase;
}


/*
   SPIP
   ========================================================================== */
h2.spip,
h3.spip,
h4.spip,
h5.spip,
h6.spip {
  margin: $spacing-unit--large 0  $spacing-unit;
  //margin: (($spacing-unit--large / $base-font-size) * 1rem) 0 (($spacing-unit / $base-font-size) * 1rem);
  color: $black-color;
}
