/* ==========================================================================
   #BREADCRUMB
   ========================================================================== */

.breadcrumb {
  margin: $spacing-unit 0;
  @include media-query(s) {
    display: none;
  }
}

  .breadcrumb__item {
    margin: 0 $spacing-unit--tiny;

    > .nav__icon {
      top: -4px;
    }
  }
