/* ==========================================================================
   #HR
   ========================================================================== */

hr.spip {
 border: none;
 height: 1px;
 background: linear-gradient(to right, white 0%, black 50%, white 100%);
}
