/* ==========================================================================
   #LISTS
   ========================================================================== */

/*
   #SPIP LIST
   ========================================================================== */

ul.spip {
  list-style: square inside;
}

ul.spip,
ol.spip {
  margin: 0;
  padding: 0;
}

ul.spip ul,
ol.spip ol {
  padding-left: 0.75em;
}
