/* ==========================================================================
   #OBJET
   ========================================================================== */

/**
 *
 * La notion d'objets s'entend ici selon ceux utilisés par SPIP. Objet article,
 * rubrique, mot-clé...
 *
 * Il s'agit de regrouper à partir d'une seule dénomination des caractéristiques
 * communes pour chaque objet.
 *
 */

.objet {}

.objet__section {
  margin-bottom: $spacing-unit;
}

.objet__header {}

  .objet__title {
    margin-bottom: 0;
  }

  .objet__subtitle {
    margin-bottom: 0;
    font-style: italic;
    color: #000;
  }

  .objet__subtitle--resume {
    margin-top: $spacing-unit--tiny;
    color: $text-color;
  }

  .objet__authors {
    font-style: italic;
    color: $black-color;
  }

.objet__meta {
  position: relative;
}

// .objet__content {}

  .objet__content--main {
    @include media-query(lap) {
      max-width: 500px;
    }
  }

  .objet__content--sub {
    @extend .objet__content--main;
  }
