/* ==========================================================================
   #WRAPPER
   ========================================================================== */

.wrapper {
  max-width: 1100px;
  @include media-query(palm) {
    padding: 0 $inuit-base-spacing-unit--small;
  }

  @include media-query(lap) {
    padding-right: $inuit-base-spacing-unit--small;
  }
}

.wrapper--readable {
  @media screen and (min-width: 37.5em) and (max-width: 46.875em) {
    max-width: 37.5em;
  }
}
