// ==========================================================================
// #COLORS
// ==========================================================================


$black-color : #000;
$white-color : #fff;
$gray-color  : #999;

// links
$link-color  : #4fc9e9;
$link-color-hover: #1694b5;

$text-color  : #555;
