// ==========================================================================
// #COLORS
// ==========================================================================


$black-color         : #000;
$dark-gray-color     : #443838;
$light-gray-color    : #ccc;
$lightest-gray-color : #eee;
$gray-color          : #adadba;
$white-color         : #fff;
$red-color           : #f84212; // rubrique À propos
$orange-color        : #f5a623; // rubrique Auteurs
$blue-color          : #4a90e2; // rubrique Mots-clés
$pink-color          : #df69e8; // Recherche
$aquamarine-color    : #50e3c2; // rubrique Numéros
$yellow-color        : #dacd23; // Sommaire


// links
$link-color          : $black-color;
$link-color-hover    : $black-color;

$text-color          : #444;
