// ==========================================================================
// #COLORS
// ==========================================================================


$black-color     : #000;
$dark-gray-color : #443838;
$gray-color      : #999;
$white-color     : #fff;
$red-color       : #f44336;

// links
$link-color      : $black-color;
$link-color-hover: $red-color;

$text-color      : #444;
