/* ==========================================================================
   #PUSH-PULL-WIDTHS
   ========================================================================== */

// [class*="-push-"],
// [class*="-pull-"] {
//   position: relative;
// }

@include media-query(lap) {
  .u-1\/12-push-lap {
    left: 8.33333%;
    position: relative;
  }
}

@include media-query(lap-and-up) {
  .u-1\/12-push-lap-and-up {
    left: 8.33333%;
    position: relative;
  }

  // .u-1\/4-push-lap-and-up {
  //   left: 25%;
  //   position: relative;
  // }

  // .u-2\/4-push-lap-and-up {
  //   left: 50%;
  //   position: relative;
  // }
}

@include media-query(desk) {
  .u-1\/4-push-desk {
    left: 25%;
    position: relative;
  }

  .u-3\/4-push-desk {
    left: 75%;
    position: relative;
  }

  // pull
  .u-2\/4-pull-desk {
    right: 50%;
    position: relative;
  }
}
