/* ==========================================================================
   #PUSH-PULL-WIDTHS
   ========================================================================== */

$col: 12;

@include media-query(lap) {
  .u-1\/12-push-lap {
    margin-left: (1 / $col) * 100%;
  }
}

@include media-query(lap-and-up) {
  .u-1\/12-push-lap-and-up {
    margin-left: (1 / $col) * 100%;
  }
}

@include media-query(desk) {
  .u-3\/12-push-desk {
    margin-left: (3 / $col) * 100%;
  }
}
