/* ==========================================================================
   #PUSH-PULL-WIDTHS
   ========================================================================== */

@include media-query(m) {
  .u-1\/12-push-m {
    margin-left: (1 / $columns) * 100%;
  }
}

@include media-query(m-and-l) {
  .u-1\/12-push-m-and-l {
    margin-left: (1 / $columns) * 100%;
  }
}

@include media-query(l) {
  .u-1\/12-push-l {
    margin-left: (1 / $columns) * 100%;
  }

  .u-3\/12-push-l {
    margin-left: (3 / $columns) * 100%;
  }
}
